
:root{
    --text-color: #212741;
    --card-color: #fff;
    --bright-color: #ff511a; 
    --box-shadow: 2px 2px 2px 5px rgba(201, 201, 201, 0.219);
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

::before,
::after{
    box-sizing: border-box;
}


.product-heading {
	text-align: center;
	background-image: url(../images/page-heading-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px 0px 150px 0px;
	color: #fff;
}

.product-heading h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
}

.product-heading span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;
}

.product-navigator{
    display: flex;
    text-align: center;
    /* padding: 5px 15px 30px 5px; */

}

.product-navigator .navigatorbtn{
    background-color: var(--text-color);
	color: var(--card-color);
	border: none;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
    cursor: pointer;
}


 .navigatorbtn:hover{
    background-color: #dfdfdf;
    color: var(--text-color);
	border: none;
}


.allproducts{
    display: none;
}
.card{
    
    background-color: #fff;
    padding: 15px;
    margin: 15px 25px;
    border: none;
    border-radius: 15px;
  
}
.card .product-image {
    
    text-align: center;
   
    
}
.card .product-image img{
    max-width: 500px;
}

.card .product-name{
    display: flex;
    justify-content: space-between;
}
.card .product-name h3{
    font-size: 25px;
    color: #212741;
    display: block;
    margin-bottom: 10px;

}

.card .product-name span{
    font-size: 18px;
    color: var(--text-color);
}
.card .product-name em{
    color: #ff511a;
}
.card .product-btn{
    background-color: transparent;
	color: var(--text-color);
	border: 2px solid var(--text-color);
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
    margin-top: 20px;
    max-width: 200px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
     cursor: pointer;
   
}
@media (max-width: 1000px) {
  

    .card .product-image {
    
        text-align: center;
       
        
    }   

    .card .product-image img{
        max-width: 200px;
    }
    .card .product-name h3{
        font-size: 15px;
       
    
    }
    .card .product-name span{
        font-size: 10px;
       
    
    } 
}